@charset "utf-8";

@import "./global-variable.css";

.dashboard-base-panel {
  padding: var(--standard-padding-width) var(--standard-padding-width);
}

.dashboard-base-panel .dashboard-model-title {
  padding-block-start: 30px;
}

.dashboard-base-panel .dashboard-model-title h2 {
  font-weight: bold;
}