@charset "utf-8";

@import "../../../global/global-variable.css";

.student-info-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.student-info-panel div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.student-info-panel span {
  font-weight: bold;
}

.notification-cards > * {
  margin-block-end: var(--standard-padding-width);
}

.notification-inline-btns {
  display: flex;
  justify-content: flex-end;
}

.notification-inline-btns > * {
  margin-inline-start: var(--standard-padding-width);
}

