@charset "utf-8";

@import "../../../global/global-variable.css";

.inner-form {
  padding: 0 var(--standard-padding-width);
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}